:root
{
    --theme: white;
    --background: #F9F9F9;
    --green: #06908F;
    --text: #1F271B;
    --shadow: rgba(0, 0, 0, 0.1)
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* SCROLL BAR */
*
{
    scrollbar-width: thin;
    scrollbar-color: #d3d3d3 transparent;
}

*::-webkit-scrollbar
{
    background-color: transparent;
    width: 5px;
    cursor: pointer;
}
*::-webkit-scrollbar-thumb
{
    background-color: #d3d3d3;
}
*::-webkit-scrollbar-thumb:active
{
    background-color: #a9a9a9;
}

html, body
{
    width: 100%;
    height: 100%;
}
body
{
    background-color: var(--background);
}

/* HEADER */
.header
{
    width: 100%;
    height: 70px;
    background-color: var(--theme);
    box-shadow: 0 0 30px 15px var(--shadow);
    z-index: 5;
    padding: 0 15px;
}
.header ul
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header li
{
    list-style: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.header li:first-child
{
    margin-right: 35px;
}
.header li:last-child
{
    margin-right: 0;
}
.header li a
{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header li img
{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.header h1
{
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text);
    position: relative;
    z-index: 6;
}
.header h1::before
{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--green);
    border-radius: 5px;
    transition: width 0.4s;
    z-index: -1;
}
.header .target h1:before, .header a:hover h1:before
{
    width: 100%;
}


/* MOBILE HEADER */
.mobile-header
{
    display: none;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: var(--theme);
    box-shadow: 0 0 30px 15px var(--shadow);
    z-index: 5;
    padding: 0 15px;
}
.mobile-header img
{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.mobile-header > ul
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-header > ul li
{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
.mobile-header > ul li a
{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.mobile-header h1
{
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text);
    position: relative;
    z-index: 6;
}

.mobile-header .menu-button
{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.menu-button svg
{
    width: 100%;
    height: 100%;
}


/* MOBILE HEADER MENU */
.menu
{
    display: none;
    width: 300px;
    max-width: 90%;
    height: calc(100% - 69px);
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--theme);
    padding: 15px;
    z-index: 5;
    box-shadow: -15px 5px 20px -5px var(--shadow);
}
.open
{
    animation-name: open-menu;
    animation-duration: 0.35s;
    animation-timing-function: ease;
    
    display: block;
}
.close
{
    animation-name: close-menu;
    animation-duration: 0.35s;
    animation-timing-function: ease;
}

@keyframes open-menu
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(0);
    }
}
@keyframes close-menu
{
    0%
    {
        display: block;
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(100%);
        display: none;
    }
}

.menu ul
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.menu li
{
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
}
.menu li:last-child
{
    margin-bottom: 0;
}
.menu a
{
    text-decoration: none;
}
.menu h1
{
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: fit-content;
}
.menu h1::before
{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--green);
    border-radius: 5px;
    transition: width 0.4s;
    z-index: -1;
}
.menu .target h1:before, .menu a:hover h1:before
{
    width: 100%;
}


@media only screen and (max-width: 950px)
{
    .header h1
    {
        font-size: 1.3em;
    }
    .header li
    {
        margin-right: 10px;
    }
    .header li:first-child
    {
        margin-right: 20px;
    }
    .header li:last-child
    {
        margin-right: 0;
    }
}
@media only screen and (max-width: 800px)
{
    .header
    {
        display: none;
    }
    .mobile-header
    {
        display: block;
    }
}

/* CONTENT */
.content
{
    padding: 0 15px;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
.part
{
    width: 100%;
    max-width: 800px;
    padding: 15px 0;
}
.part > *
{
    margin-bottom: 10px;
}
.part > *:last-child
{
    margin-bottom: 0;
}
.part h1
{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1.5em;
    color: var(--text);
}
.part p
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: var(--text);
}
.part a
{
    font-weight: 700;
    text-decoration: none;
    color: var(--green);
    font-style: normal;
}
.part a:hover
{
    text-decoration: underline;
}
.part img, .part .video
{
    box-shadow: 0 0 30px 15px var(--shadow);
}
.part img
{
    width: 100%;
    height: auto;
}
.video
{ 
    overflow: hidden; 
    padding-bottom: 56.25%; 
    position: relative; 
    width: 100%;
    height: 0;
}
.video iframe
{
    left: 0; 
    top: 0; 
    height: 100%;
    width: 100%;
    position: absolute;
}

#credits
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#credits p
{
    text-align: center;
}